.summary {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1rem;
  border: 0.125rem solid var(--border);
  background: var(--surface-2);
  width: 50%;
  height: 100%;
}

.summary-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 90%;
  margin: 1rem auto 0 auto;
  text-align: left;
}